<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Form</title>
</head>
<body>
    <h1>Animal Form</h1>
    <form action="/submit" method="post">
        <label for="animal_name">Animal Name:</label>
        <input type="text" id="animal_name" name="animal_name" required><br>
        
        <label for="hair">Hair:</label>
        <input type="radio" id="hair_yes" name="hair" value="yes">
        <label for="hair_yes" style="color: green;">Yes</label>

        <input type="radio" id="hair_no" name="hair" value="no">
        <label for="hair_no" style="color: red;">No</label><br>

        <label for="feathers">Feathers:</label>
        <input type="radio" id="feathers_yes" name="feathers" value="yes">
        <label for="feathers_yes" style="color: green;">Yes</label>

        <input type="radio" id="feathers_no" name="feathers" value="no">
        <label for="feathers_no" style="color: red;">No</label><br>

        <label for="eggs">Eggs:</label>
        <input type="radio" id="eggs_yes" name="eggs" value="yes">
        <label for="eggs_yes" style="color: green;">Yes</label>

        <input type="radio" id="eggs_no" name="eggs" value="no">
        <label for="eggs_no" style="color: red;">No</label><br>

        <label for="milk">Milk:</label>
        <input type="radio" id="milk_yes" name="milk" value="yes">
        <label for="milk_yes" style="color: green;">Yes</label>

        <input type="radio" id="milk_no" name="milk" value="no">
        <label for="milk_no" style="color: red;">No</label><br>

        <label for="airborne">Airborne:</label>
        <input type="radio" id="airborne_yes" name="airborne" value="yes">
        <label for="airborne_yes" style="color: green;">Yes</label>

        <input type="radio" id="airborne_no" name="airborne" value="no">
        <label for="airborne_no" style="color: red;">No</label><br>

        <label for="aquatic">Aquatic:</label>
        <input type="radio" id="aquatic_yes" name="aquatic" value="yes">
        <label for="aquatic_yes" style="color: green;">Yes</label>

        <input type="radio" id="aquatic_no" name="aquatic" value="no">
        <label for="aquatic_no" style="color: red;">No</label><br>

        <label for="predator">Predator:</label>
        <input type="radio" id="predator_yes" name="predator" value="yes">
        <label for="predator_yes" style="color: green;">Yes</label>

        <input type="radio" id="predator_no" name="predator" value="no">
        <label for="predator_no" style="color: red;">No</label><br>

        <label for="toothed">Toothed:</label>
        <input type="radio" id="toothed_yes" name="toothed" value="yes">
        <label for="toothed_yes" style="color: green;">Yes</label>

        <input type="radio" id="toothed_no" name="toothed" value="no">
        <label for="toothed_no" style="color: red;">No</label><br>


        <label for="backbone">Backbone:</label>
        <input type="radio" id="backbone_yes" name="backbone" value="yes">
        <label for="backbone_yes" style="color: green;">Yes</label>

        <input type="radio" id="backbone_no" name="backbone" value="no">
        <label for="backbone_no" style="color: red;">No</label><br>


        <label for="air_breather">Air Breather:</label>
        <input type="radio" id="air_breather_yes" name="air_breather" value="yes">
        <label for="air_breather_yes" style="color: green;">Yes</label>

        <input type="radio" id="air_breather_no" name="air_breather" value="no">
        <label for="air_breather_no" style="color: red;">No</label><br>


        <label for="water_breather">Water Breather:</label>
        <input type="radio" id="water_breather_yes" name="water_breather" value="yes">
        <label for="water_breather_yes" style="color: green;">Yes</label>

        <input type="radio" id="water_breather_no" name="water_breather" value="no">
        <label for="water_breather_no" style="color: red;">No</label><br>


        <label for="venomous">Venomous:</label>
        <input type="radio" id="venomous_yes" name="venomous" value="yes">
        <label for="venomous_yes" style="color: green;">Yes</label>

        <input type="radio" id="venomous_no" name="venomous" value="no">
        <label for="venomous_no" style="color: red;">No</label><br>


        <label for="fins">Fins:</label>
        <input type="radio" id="fins_yes" name="fins" value="yes">
        <label for="fins_yes" style="color: green;">Yes</label>

        <input type="radio" id="fins_no" name="fins" value="no">
        <label for="fins_no" style="color: red;">No</label><br>


        <label for="tail">Tail:</label>
        <input type="radio" id="tail_yes" name="tail" value="yes">
        <label for="tail_yes" style="color: green;">Yes</label>

        <input type="radio" id="tail_no" name="tail" value="no">
        <label for="tail_no" style="color: red;">No</label><br>

        <label for="legs">Legs:</label>
        <input type="text" id="legs" name="legs" required><br>
        <!-- Add other form fields as needed -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>
