<!-- success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Successful</title>
</head>
<body>
    <h1>Submission Successful</h1>
    <p>Animal Name: {{ animal_data.animal_name }}</p>
    <p>Has Hair: {{ animal_data.hair }}</p>
    <p>Has Feathers: {{ animal_data.feathers }}</p>
    <p>Lays Eggs: {{ animal_data.eggs }}</p>
    <p>Produces Milk: {{ animal_data.milk }}</p>
    <p>Is Airborne: {{ animal_data.airborne }}</p>
    <p>Is Aquatic: {{ animal_data.aquatic }}</p>
    <p>Is a Predator: {{ animal_data.predator }}</p>
    <p>Has a Toothed Bill: {{ animal_data.toothed_bill }}</p>
    <p>Has a Backbone: {{ animal_data.backbone }}</p>
    <p>Is a Breathes: {{ animal_data.breathes }}</p>
    <p>Is a Venomous: {{ animal_data.venomous }}</p>
    <p>Has Fins: {{ animal_data.fins }}</p>
    <p>Has Legs: {{ animal_data.legs }}</p>
    <p>Has a Tail: {{ animal_data.tail }}</p>
    
    <!-- Display other submitted data as needed -->
</body>
</html>
